<Airports>
	<Routes>
		<NonStops>
			<NonStop From='AUH' To='MNL' Carrier='EY' Code='' />
			<NonStop From='AUH' To='MNL' Carrier='EY' Code='W' />
			<NonStop From='BAH' To='MNL' Carrier='GF' Code='' />
			<NonStop From='BAH' To='MNL' Carrier='GF' Code='W' />
			<NonStop From='BAH' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='BCD' To='MNL' Carrier='5J' Code='' />
			<NonStop From='BCD' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='BCD' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='BCD' To='MNL' Carrier='PR' Code='' />
			<NonStop From='BCD' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='BCD' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='BCD' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='BKI' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='BKK' To='MNL' Carrier='5J' Code='' />
			<NonStop From='BKK' To='MNL' Carrier='AC' Code='C' />
			<NonStop From='BKK' To='MNL' Carrier='LH' Code='C' />
			<NonStop From='BKK' To='MNL' Carrier='OS' Code='C' />
			<NonStop From='BKK' To='MNL' Carrier='PG' Code='C' />
			<NonStop From='BKK' To='MNL' Carrier='PR' Code='' />
			<NonStop From='BKK' To='MNL' Carrier='TG' Code='' />
			<NonStop From='BNE' To='MNL' Carrier='PR' Code='' />
			<NonStop From='BNE' To='MNL' Carrier='QF' Code='' />
			<NonStop From='BWN' To='MNL' Carrier='5J' Code='' />
			<NonStop From='BWN' To='MNL' Carrier='BI' Code='' />
			<NonStop From='BWN' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='BXU' To='MNL' Carrier='5J' Code='' />
			<NonStop From='BXU' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='BXU' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='BXU' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='CAN' To='MNL' Carrier='5J' Code='' />
			<NonStop From='CAN' To='MNL' Carrier='CZ' Code='' />
			<NonStop From='CAN' To='MNL' Carrier='PR' Code='' />
			<NonStop From='CBO' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='CDG' To='MNL' Carrier='AF' Code='' />
			<NonStop From='CDG' To='MNL' Carrier='KL' Code='C' />
			<NonStop From='CDG' To='MNL' Carrier='SK' Code='C' />
			<NonStop From='CEB' To='MNL' Carrier='2R' Code='' />
			<NonStop From='CEB' To='MNL' Carrier='5J' Code='' />
			<NonStop From='CEB' To='MNL' Carrier='BI' Code='C' />
			<NonStop From='CEB' To='MNL' Carrier='CI' Code='C' />
			<NonStop From='CEB' To='MNL' Carrier='DG' Code='' />
			<NonStop From='CEB' To='MNL' Carrier='GA' Code='C' />
			<NonStop From='CEB' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='CEB' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='CEB' To='MNL' Carrier='PR' Code='' />
			<NonStop From='CEB' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='CEB' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='CEB' To='MNL' Carrier='SV' Code='C' />
			<NonStop From='CEB' To='MNL' Carrier='TK' Code='C' />
			<NonStop From='CEB' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='CGK' To='MNL' Carrier='5J' Code='' />
			<NonStop From='CGK' To='MNL' Carrier='PR' Code='' />
			<NonStop From='CGY' To='MNL' Carrier='5J' Code='' />
			<NonStop From='CGY' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='CGY' To='MNL' Carrier='PR' Code='' />
			<NonStop From='CGY' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='CGY' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='CGY' To='MNL' Carrier='SV' Code='C' />
			<NonStop From='CGY' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='CNX' To='MNL' Carrier='5J' Code='' />
			<NonStop From='CRM' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='CTS' To='MNL' Carrier='5J' Code='' />
			<NonStop From='CTS' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='CTS' To='MNL' Carrier='PR' Code='' />
			<NonStop From='CYZ' To='MNL' Carrier='5J' Code='' />
			<NonStop From='CYZ' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='DAD' To='MNL' Carrier='5J' Code='' />
			<NonStop From='DAD' To='MNL' Carrier='PR' Code='' />
			<NonStop From='DAD' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='DEL' To='MNL' Carrier='AI' Code='' />
			<NonStop From='DGT' To='MNL' Carrier='5J' Code='' />
			<NonStop From='DGT' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='DGT' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='DMK' To='MNL' Carrier='5J' Code='' />
			<NonStop From='DMK' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='DOH' To='MNL' Carrier='IB' Code='C' />
			<NonStop From='DOH' To='MNL' Carrier='PR' Code='' />
			<NonStop From='DOH' To='MNL' Carrier='QR' Code='' />
			<NonStop From='DOH' To='MNL' Carrier='QR' Code='C' />
			<NonStop From='DPL' To='MNL' Carrier='5J' Code='' />
			<NonStop From='DPL' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='DPS' To='MNL' Carrier='5J' Code='' />
			<NonStop From='DPS' To='MNL' Carrier='PR' Code='' />
			<NonStop From='DRP' To='MNL' Carrier='5J' Code='' />
			<NonStop From='DRP' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='DRP' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='DVO' To='MNL' Carrier='5J' Code='' />
			<NonStop From='DVO' To='MNL' Carrier='CI' Code='C' />
			<NonStop From='DVO' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='DVO' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='DVO' To='MNL' Carrier='PR' Code='' />
			<NonStop From='DVO' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='DVO' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='DVO' To='MNL' Carrier='SV' Code='C' />
			<NonStop From='DVO' To='MNL' Carrier='TK' Code='C' />
			<NonStop From='DXB' To='MNL' Carrier='5J' Code='' />
			<NonStop From='DXB' To='MNL' Carrier='EK' Code='' />
			<NonStop From='DXB' To='MNL' Carrier='PR' Code='' />
			<NonStop From='ENI' To='MNL' Carrier='T6' Code='' />
			<NonStop From='EUQ' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='FUK' To='MNL' Carrier='5J' Code='' />
			<NonStop From='FUK' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='FUK' To='MNL' Carrier='PR' Code='' />
			<NonStop From='GES' To='MNL' Carrier='5J' Code='' />
			<NonStop From='GES' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='GES' To='MNL' Carrier='PR' Code='' />
			<NonStop From='GES' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='GES' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='GUM' To='MNL' Carrier='AA' Code='C' />
			<NonStop From='GUM' To='MNL' Carrier='PR' Code='' />
			<NonStop From='GUM' To='MNL' Carrier='UA' Code='' />
			<NonStop From='HAN' To='MNL' Carrier='5J' Code='' />
			<NonStop From='HAN' To='MNL' Carrier='PR' Code='' />
			<NonStop From='HAN' To='MNL' Carrier='VN' Code='' />
			<NonStop From='HAN' To='MNL' Carrier='VN' Code='C' />
			<NonStop From='HAN' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='HKG' To='MNL' Carrier='5J' Code='' />
			<NonStop From='HKG' To='MNL' Carrier='AC' Code='C' />
			<NonStop From='HKG' To='MNL' Carrier='AY' Code='C' />
			<NonStop From='HKG' To='MNL' Carrier='BA' Code='C' />
			<NonStop From='HKG' To='MNL' Carrier='CX' Code='' />
			<NonStop From='HKG' To='MNL' Carrier='CX' Code='C' />
			<NonStop From='HKG' To='MNL' Carrier='ET' Code='' />
			<NonStop From='HKG' To='MNL' Carrier='HB' Code='' />
			<NonStop From='HKG' To='MNL' Carrier='LH' Code='C' />
			<NonStop From='HKG' To='MNL' Carrier='LX' Code='C' />
			<NonStop From='HKG' To='MNL' Carrier='PR' Code='' />
			<NonStop From='HKG' To='MNL' Carrier='UO' Code='' />
			<NonStop From='HKG' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='HND' To='MNL' Carrier='AA' Code='C' />
			<NonStop From='HND' To='MNL' Carrier='JL' Code='' />
			<NonStop From='HND' To='MNL' Carrier='NH' Code='' />
			<NonStop From='HND' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='HND' To='MNL' Carrier='PR' Code='' />
			<NonStop From='HND' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='HNL' To='MNL' Carrier='AA' Code='C' />
			<NonStop From='HNL' To='MNL' Carrier='PR' Code='' />
			<NonStop From='IAO' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='ICN' To='MNL' Carrier='5J' Code='' />
			<NonStop From='ICN' To='MNL' Carrier='7C' Code='' />
			<NonStop From='ICN' To='MNL' Carrier='KE' Code='' />
			<NonStop From='ICN' To='MNL' Carrier='OZ' Code='' />
			<NonStop From='ICN' To='MNL' Carrier='PR' Code='' />
			<NonStop From='ICN' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='ILO' To='MNL' Carrier='5J' Code='' />
			<NonStop From='ILO' To='MNL' Carrier='CI' Code='C' />
			<NonStop From='ILO' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='ILO' To='MNL' Carrier='PR' Code='' />
			<NonStop From='ILO' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='ILO' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='ILO' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='IST' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='IST' To='MNL' Carrier='TK' Code='' />
			<NonStop From='JED' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='JED' To='MNL' Carrier='SV' Code='' />
			<NonStop From='JFK' To='MNL' Carrier='PR' Code='' />
			<NonStop From='JJN' To='MNL' Carrier='MF' Code='' />
			<NonStop From='JJN' To='MNL' Carrier='MF' Code='C' />
			<NonStop From='JJN' To='MNL' Carrier='PR' Code='' />
			<NonStop From='JJN' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='KHH' To='MNL' Carrier='5J' Code='' />
			<NonStop From='KHH' To='MNL' Carrier='AE' Code='C' />
			<NonStop From='KHH' To='MNL' Carrier='CI' Code='' />
			<NonStop From='KHH' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='KHH' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='KIX' To='MNL' Carrier='5J' Code='' />
			<NonStop From='KIX' To='MNL' Carrier='GK' Code='' />
			<NonStop From='KIX' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='KIX' To='MNL' Carrier='PR' Code='' />
			<NonStop From='KLO' To='MNL' Carrier='5J' Code='' />
			<NonStop From='KLO' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='KTI' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='KUL' To='MNL' Carrier='5J' Code='' />
			<NonStop From='KUL' To='MNL' Carrier='AK' Code='' />
			<NonStop From='KUL' To='MNL' Carrier='FY' Code='C' />
			<NonStop From='KUL' To='MNL' Carrier='MH' Code='' />
			<NonStop From='KUL' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='KUL' To='MNL' Carrier='PR' Code='' />
			<NonStop From='KUL' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='KUL' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='KWI' To='MNL' Carrier='KU' Code='' />
			<NonStop From='LAO' To='MNL' Carrier='5J' Code='' />
			<NonStop From='LAO' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='LAO' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='LAO' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='LAX' To='MNL' Carrier='PR' Code='' />
			<NonStop From='MCT' To='MNL' Carrier='WY' Code='' />
			<NonStop From='MEL' To='MNL' Carrier='5J' Code='' />
			<NonStop From='MEL' To='MNL' Carrier='PR' Code='' />
			<NonStop From='MFM' To='MNL' Carrier='5J' Code='' />
			<NonStop From='MFM' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='AUH' Carrier='EY' Code='' />
			<NonStop From='MNL' To='AUH' Carrier='EY' Code='W' />
			<NonStop From='MNL' To='BAH' Carrier='GF' Code='' />
			<NonStop From='MNL' To='BAH' Carrier='GF' Code='W' />
			<NonStop From='MNL' To='BAH' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='BCD' Carrier='5J' Code='' />
			<NonStop From='MNL' To='BCD' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='BCD' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='BCD' Carrier='PR' Code='' />
			<NonStop From='MNL' To='BCD' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='BCD' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='BCD' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='BKI' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='BKK' Carrier='5J' Code='' />
			<NonStop From='MNL' To='BKK' Carrier='AC' Code='C' />
			<NonStop From='MNL' To='BKK' Carrier='LH' Code='C' />
			<NonStop From='MNL' To='BKK' Carrier='OS' Code='C' />
			<NonStop From='MNL' To='BKK' Carrier='PG' Code='C' />
			<NonStop From='MNL' To='BKK' Carrier='PR' Code='' />
			<NonStop From='MNL' To='BKK' Carrier='TG' Code='' />
			<NonStop From='MNL' To='BNE' Carrier='PR' Code='' />
			<NonStop From='MNL' To='BNE' Carrier='QF' Code='' />
			<NonStop From='MNL' To='BWN' Carrier='5J' Code='' />
			<NonStop From='MNL' To='BWN' Carrier='BI' Code='' />
			<NonStop From='MNL' To='BWN' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='BXU' Carrier='5J' Code='' />
			<NonStop From='MNL' To='BXU' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='BXU' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='BXU' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='CAN' Carrier='5J' Code='' />
			<NonStop From='MNL' To='CAN' Carrier='CZ' Code='' />
			<NonStop From='MNL' To='CAN' Carrier='PR' Code='' />
			<NonStop From='MNL' To='CBO' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='CDG' Carrier='AF' Code='' />
			<NonStop From='MNL' To='CDG' Carrier='KL' Code='C' />
			<NonStop From='MNL' To='CDG' Carrier='SK' Code='C' />
			<NonStop From='MNL' To='CEB' Carrier='2R' Code='' />
			<NonStop From='MNL' To='CEB' Carrier='5J' Code='' />
			<NonStop From='MNL' To='CEB' Carrier='BI' Code='C' />
			<NonStop From='MNL' To='CEB' Carrier='CI' Code='C' />
			<NonStop From='MNL' To='CEB' Carrier='DG' Code='' />
			<NonStop From='MNL' To='CEB' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='CEB' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='CEB' Carrier='PR' Code='' />
			<NonStop From='MNL' To='CEB' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='CEB' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='CEB' Carrier='SV' Code='C' />
			<NonStop From='MNL' To='CEB' Carrier='TK' Code='C' />
			<NonStop From='MNL' To='CEB' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='CGK' Carrier='5J' Code='' />
			<NonStop From='MNL' To='CGK' Carrier='PR' Code='' />
			<NonStop From='MNL' To='CGY' Carrier='5J' Code='' />
			<NonStop From='MNL' To='CGY' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='CGY' Carrier='PR' Code='' />
			<NonStop From='MNL' To='CGY' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='CGY' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='CGY' Carrier='SV' Code='C' />
			<NonStop From='MNL' To='CGY' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='CNX' Carrier='5J' Code='' />
			<NonStop From='MNL' To='CRM' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='CTS' Carrier='5J' Code='' />
			<NonStop From='MNL' To='CTS' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='CTS' Carrier='PR' Code='' />
			<NonStop From='MNL' To='CYZ' Carrier='5J' Code='' />
			<NonStop From='MNL' To='CYZ' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='DAD' Carrier='5J' Code='' />
			<NonStop From='MNL' To='DAD' Carrier='PR' Code='' />
			<NonStop From='MNL' To='DAD' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='DEL' Carrier='AI' Code='' />
			<NonStop From='MNL' To='DGT' Carrier='5J' Code='' />
			<NonStop From='MNL' To='DGT' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='DGT' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='DMK' Carrier='5J' Code='' />
			<NonStop From='MNL' To='DMK' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='DOH' Carrier='IB' Code='C' />
			<NonStop From='MNL' To='DOH' Carrier='PR' Code='' />
			<NonStop From='MNL' To='DOH' Carrier='QR' Code='' />
			<NonStop From='MNL' To='DOH' Carrier='QR' Code='C' />
			<NonStop From='MNL' To='DPL' Carrier='5J' Code='' />
			<NonStop From='MNL' To='DPL' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='DPS' Carrier='5J' Code='' />
			<NonStop From='MNL' To='DPS' Carrier='PR' Code='' />
			<NonStop From='MNL' To='DRP' Carrier='5J' Code='' />
			<NonStop From='MNL' To='DRP' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='DRP' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='DVO' Carrier='5J' Code='' />
			<NonStop From='MNL' To='DVO' Carrier='CI' Code='C' />
			<NonStop From='MNL' To='DVO' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='DVO' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='DVO' Carrier='PR' Code='' />
			<NonStop From='MNL' To='DVO' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='DVO' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='DVO' Carrier='SV' Code='C' />
			<NonStop From='MNL' To='DVO' Carrier='TK' Code='C' />
			<NonStop From='MNL' To='DXB' Carrier='5J' Code='' />
			<NonStop From='MNL' To='DXB' Carrier='EK' Code='' />
			<NonStop From='MNL' To='DXB' Carrier='PR' Code='' />
			<NonStop From='MNL' To='ENI' Carrier='T6' Code='' />
			<NonStop From='MNL' To='EUQ' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='FUK' Carrier='5J' Code='' />
			<NonStop From='MNL' To='FUK' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='FUK' Carrier='PR' Code='' />
			<NonStop From='MNL' To='GES' Carrier='5J' Code='' />
			<NonStop From='MNL' To='GES' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='GES' Carrier='PR' Code='' />
			<NonStop From='MNL' To='GES' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='GES' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='GUM' Carrier='AA' Code='C' />
			<NonStop From='MNL' To='GUM' Carrier='PR' Code='' />
			<NonStop From='MNL' To='GUM' Carrier='UA' Code='' />
			<NonStop From='MNL' To='HAN' Carrier='5J' Code='' />
			<NonStop From='MNL' To='HAN' Carrier='PR' Code='' />
			<NonStop From='MNL' To='HAN' Carrier='VN' Code='' />
			<NonStop From='MNL' To='HAN' Carrier='VN' Code='C' />
			<NonStop From='MNL' To='HAN' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='HKG' Carrier='5J' Code='' />
			<NonStop From='MNL' To='HKG' Carrier='AC' Code='C' />
			<NonStop From='MNL' To='HKG' Carrier='AY' Code='C' />
			<NonStop From='MNL' To='HKG' Carrier='BA' Code='C' />
			<NonStop From='MNL' To='HKG' Carrier='CX' Code='' />
			<NonStop From='MNL' To='HKG' Carrier='ET' Code='' />
			<NonStop From='MNL' To='HKG' Carrier='HB' Code='' />
			<NonStop From='MNL' To='HKG' Carrier='LH' Code='C' />
			<NonStop From='MNL' To='HKG' Carrier='LX' Code='C' />
			<NonStop From='MNL' To='HKG' Carrier='PR' Code='' />
			<NonStop From='MNL' To='HKG' Carrier='UO' Code='' />
			<NonStop From='MNL' To='HKG' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='HND' Carrier='AA' Code='C' />
			<NonStop From='MNL' To='HND' Carrier='JL' Code='' />
			<NonStop From='MNL' To='HND' Carrier='NH' Code='' />
			<NonStop From='MNL' To='HND' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='HND' Carrier='PR' Code='' />
			<NonStop From='MNL' To='HND' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='HNL' Carrier='AA' Code='C' />
			<NonStop From='MNL' To='HNL' Carrier='PR' Code='' />
			<NonStop From='MNL' To='IAO' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='ICN' Carrier='5J' Code='' />
			<NonStop From='MNL' To='ICN' Carrier='7C' Code='' />
			<NonStop From='MNL' To='ICN' Carrier='KE' Code='' />
			<NonStop From='MNL' To='ICN' Carrier='OZ' Code='' />
			<NonStop From='MNL' To='ICN' Carrier='PR' Code='' />
			<NonStop From='MNL' To='ICN' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='ILO' Carrier='5J' Code='' />
			<NonStop From='MNL' To='ILO' Carrier='CI' Code='C' />
			<NonStop From='MNL' To='ILO' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='ILO' Carrier='PR' Code='' />
			<NonStop From='MNL' To='ILO' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='ILO' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='ILO' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='IST' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='IST' Carrier='TK' Code='' />
			<NonStop From='MNL' To='JED' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='JED' Carrier='SV' Code='' />
			<NonStop From='MNL' To='JFK' Carrier='PR' Code='' />
			<NonStop From='MNL' To='JJN' Carrier='MF' Code='' />
			<NonStop From='MNL' To='JJN' Carrier='MF' Code='C' />
			<NonStop From='MNL' To='JJN' Carrier='PR' Code='' />
			<NonStop From='MNL' To='JJN' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='KHH' Carrier='5J' Code='' />
			<NonStop From='MNL' To='KHH' Carrier='AE' Code='C' />
			<NonStop From='MNL' To='KHH' Carrier='CI' Code='' />
			<NonStop From='MNL' To='KHH' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='KHH' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='KIX' Carrier='5J' Code='' />
			<NonStop From='MNL' To='KIX' Carrier='GK' Code='' />
			<NonStop From='MNL' To='KIX' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='KIX' Carrier='PR' Code='' />
			<NonStop From='MNL' To='KLO' Carrier='5J' Code='' />
			<NonStop From='MNL' To='KLO' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='KTI' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='KUL' Carrier='5J' Code='' />
			<NonStop From='MNL' To='KUL' Carrier='AK' Code='' />
			<NonStop From='MNL' To='KUL' Carrier='FY' Code='C' />
			<NonStop From='MNL' To='KUL' Carrier='MH' Code='' />
			<NonStop From='MNL' To='KUL' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='KUL' Carrier='PR' Code='' />
			<NonStop From='MNL' To='KUL' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='KUL' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='KWI' Carrier='KU' Code='' />
			<NonStop From='MNL' To='LAO' Carrier='5J' Code='' />
			<NonStop From='MNL' To='LAO' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='LAO' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='LAO' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='LAX' Carrier='PR' Code='' />
			<NonStop From='MNL' To='MCT' Carrier='WY' Code='' />
			<NonStop From='MNL' To='MED' Carrier='SV' Code='' />
			<NonStop From='MNL' To='MEL' Carrier='5J' Code='' />
			<NonStop From='MNL' To='MEL' Carrier='PR' Code='' />
			<NonStop From='MNL' To='MFM' Carrier='5J' Code='' />
			<NonStop From='MNL' To='MFM' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='MPH' Carrier='5J' Code='' />
			<NonStop From='MNL' To='MPH' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='MPH' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='MPH' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='MPH' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='MPH' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='NGO' Carrier='5J' Code='' />
			<NonStop From='MNL' To='NGO' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='NGO' Carrier='PR' Code='' />
			<NonStop From='MNL' To='NRT' Carrier='5J' Code='' />
			<NonStop From='MNL' To='NRT' Carrier='AA' Code='C' />
			<NonStop From='MNL' To='NRT' Carrier='GK' Code='' />
			<NonStop From='MNL' To='NRT' Carrier='JL' Code='' />
			<NonStop From='MNL' To='NRT' Carrier='NH' Code='' />
			<NonStop From='MNL' To='NRT' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='NRT' Carrier='PR' Code='' />
			<NonStop From='MNL' To='NRT' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='NRT' Carrier='WS' Code='C' />
			<NonStop From='MNL' To='NRT' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='OZC' Carrier='5J' Code='' />
			<NonStop From='MNL' To='OZC' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='OZC' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='PAG' Carrier='5J' Code='' />
			<NonStop From='MNL' To='PEK' Carrier='CA' Code='' />
			<NonStop From='MNL' To='PEK' Carrier='PR' Code='' />
			<NonStop From='MNL' To='PER' Carrier='JQ' Code='' />
			<NonStop From='MNL' To='PER' Carrier='PR' Code='' />
			<NonStop From='MNL' To='PER' Carrier='QF' Code='C' />
			<NonStop From='MNL' To='POM' Carrier='PR' Code='' />
			<NonStop From='MNL' To='POM' Carrier='PX' Code='' />
			<NonStop From='MNL' To='PPS' Carrier='5J' Code='' />
			<NonStop From='MNL' To='PPS' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='PPS' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='PPS' Carrier='PR' Code='' />
			<NonStop From='MNL' To='PPS' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='PPS' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='PPS' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='PUS' Carrier='PR' Code='' />
			<NonStop From='MNL' To='PVG' Carrier='5J' Code='' />
			<NonStop From='MNL' To='PVG' Carrier='MU' Code='' />
			<NonStop From='MNL' To='PVG' Carrier='PR' Code='' />
			<NonStop From='MNL' To='ROR' Carrier='PR' Code='' />
			<NonStop From='MNL' To='ROR' Carrier='UA' Code='' />
			<NonStop From='MNL' To='RUH' Carrier='5J' Code='' />
			<NonStop From='MNL' To='RUH' Carrier='PR' Code='' />
			<NonStop From='MNL' To='RUH' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='RUH' Carrier='SV' Code='' />
			<NonStop From='MNL' To='RUH' Carrier='SV' Code='C' />
			<NonStop From='MNL' To='RXS' Carrier='5J' Code='' />
			<NonStop From='MNL' To='RXS' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='RXS' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='RXS' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='SEA' Carrier='PR' Code='' />
			<NonStop From='MNL' To='SFO' Carrier='PR' Code='' />
			<NonStop From='MNL' To='SFO' Carrier='UA' Code='' />
			<NonStop From='MNL' To='SGN' Carrier='5J' Code='' />
			<NonStop From='MNL' To='SGN' Carrier='PR' Code='' />
			<NonStop From='MNL' To='SGN' Carrier='VJ' Code='' />
			<NonStop From='MNL' To='SGN' Carrier='VN' Code='' />
			<NonStop From='MNL' To='SGN' Carrier='VN' Code='C' />
			<NonStop From='MNL' To='SIN' Carrier='5J' Code='' />
			<NonStop From='MNL' To='SIN' Carrier='AC' Code='C' />
			<NonStop From='MNL' To='SIN' Carrier='LH' Code='C' />
			<NonStop From='MNL' To='SIN' Carrier='LX' Code='C' />
			<NonStop From='MNL' To='SIN' Carrier='NZ' Code='C' />
			<NonStop From='MNL' To='SIN' Carrier='PR' Code='' />
			<NonStop From='MNL' To='SIN' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='SIN' Carrier='SQ' Code='' />
			<NonStop From='MNL' To='SIN' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='SIN' Carrier='TR' Code='' />
			<NonStop From='MNL' To='SPN' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='SYD' Carrier='5J' Code='' />
			<NonStop From='MNL' To='SYD' Carrier='PR' Code='' />
			<NonStop From='MNL' To='SYD' Carrier='QF' Code='' />
			<NonStop From='MNL' To='SZX' Carrier='CA' Code='C' />
			<NonStop From='MNL' To='SZX' Carrier='ZH' Code='' />
			<NonStop From='MNL' To='TAC' Carrier='5J' Code='' />
			<NonStop From='MNL' To='TAC' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='TAC' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='TAC' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='TAC' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='TAC' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='TAG' Carrier='5J' Code='' />
			<NonStop From='MNL' To='TAG' Carrier='MH' Code='C' />
			<NonStop From='MNL' To='TAG' Carrier='NH' Code='C' />
			<NonStop From='MNL' To='TAG' Carrier='PR' Code='' />
			<NonStop From='MNL' To='TAG' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='TAG' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='TAG' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='TFU' Carrier='CA' Code='' />
			<NonStop From='MNL' To='TPE' Carrier='5J' Code='' />
			<NonStop From='MNL' To='TPE' Carrier='AF' Code='C' />
			<NonStop From='MNL' To='TPE' Carrier='BR' Code='' />
			<NonStop From='MNL' To='TPE' Carrier='CI' Code='' />
			<NonStop From='MNL' To='TPE' Carrier='CI' Code='C' />
			<NonStop From='MNL' To='TPE' Carrier='JX' Code='' />
			<NonStop From='MNL' To='TPE' Carrier='KL' Code='' />
			<NonStop From='MNL' To='TPE' Carrier='PR' Code='' />
			<NonStop From='MNL' To='TPE' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='TPE' Carrier='SK' Code='C' />
			<NonStop From='MNL' To='TPE' Carrier='Z2' Code='' />
			<NonStop From='MNL' To='TUG' Carrier='5J' Code='' />
			<NonStop From='MNL' To='TUG' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='USU' Carrier='DG' Code='' />
			<NonStop From='MNL' To='USU' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='VRC' Carrier='5J' Code='' />
			<NonStop From='MNL' To='WNP' Carrier='DG' Code='' />
			<NonStop From='MNL' To='XMN' Carrier='MF' Code='' />
			<NonStop From='MNL' To='XMN' Carrier='MF' Code='C' />
			<NonStop From='MNL' To='XMN' Carrier='PR' Code='' />
			<NonStop From='MNL' To='XMN' Carrier='PR' Code='C' />
			<NonStop From='MNL' To='YVR' Carrier='AC' Code='' />
			<NonStop From='MNL' To='YVR' Carrier='PR' Code='' />
			<NonStop From='MNL' To='YYZ' Carrier='PR' Code='' />
			<NonStop From='MNL' To='ZAM' Carrier='5J' Code='' />
			<NonStop From='MNL' To='ZAM' Carrier='PR' Code='W' />
			<NonStop From='MNL' To='ZAM' Carrier='SQ' Code='C' />
			<NonStop From='MNL' To='ZAM' Carrier='SV' Code='C' />
			<NonStop From='MPH' To='MNL' Carrier='5J' Code='' />
			<NonStop From='MPH' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='MPH' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='MPH' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='MPH' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='MPH' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='NGO' To='MNL' Carrier='5J' Code='' />
			<NonStop From='NGO' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='NGO' To='MNL' Carrier='PR' Code='' />
			<NonStop From='NRT' To='MNL' Carrier='5J' Code='' />
			<NonStop From='NRT' To='MNL' Carrier='AA' Code='C' />
			<NonStop From='NRT' To='MNL' Carrier='GK' Code='' />
			<NonStop From='NRT' To='MNL' Carrier='JL' Code='' />
			<NonStop From='NRT' To='MNL' Carrier='NH' Code='' />
			<NonStop From='NRT' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='NRT' To='MNL' Carrier='PR' Code='' />
			<NonStop From='NRT' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='NRT' To='MNL' Carrier='WS' Code='C' />
			<NonStop From='NRT' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='OZC' To='MNL' Carrier='5J' Code='' />
			<NonStop From='OZC' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='OZC' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='PAG' To='MNL' Carrier='5J' Code='' />
			<NonStop From='PEK' To='MNL' Carrier='CA' Code='' />
			<NonStop From='PEK' To='MNL' Carrier='PR' Code='' />
			<NonStop From='PER' To='MNL' Carrier='JQ' Code='' />
			<NonStop From='PER' To='MNL' Carrier='PR' Code='' />
			<NonStop From='PER' To='MNL' Carrier='QF' Code='C' />
			<NonStop From='POM' To='MNL' Carrier='PR' Code='' />
			<NonStop From='POM' To='MNL' Carrier='PX' Code='' />
			<NonStop From='PPS' To='MNL' Carrier='5J' Code='' />
			<NonStop From='PPS' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='PPS' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='PPS' To='MNL' Carrier='PR' Code='' />
			<NonStop From='PPS' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='PPS' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='PPS' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='PUS' To='MNL' Carrier='PR' Code='' />
			<NonStop From='PVG' To='MNL' Carrier='5J' Code='' />
			<NonStop From='PVG' To='MNL' Carrier='MU' Code='' />
			<NonStop From='PVG' To='MNL' Carrier='PR' Code='' />
			<NonStop From='ROR' To='MNL' Carrier='PR' Code='' />
			<NonStop From='ROR' To='MNL' Carrier='UA' Code='' />
			<NonStop From='RUH' To='MNL' Carrier='5J' Code='' />
			<NonStop From='RUH' To='MNL' Carrier='PR' Code='' />
			<NonStop From='RUH' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='RUH' To='MNL' Carrier='SV' Code='' />
			<NonStop From='RUH' To='MNL' Carrier='SV' Code='C' />
			<NonStop From='RXS' To='MNL' Carrier='5J' Code='' />
			<NonStop From='RXS' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='RXS' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='RXS' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='SEA' To='MNL' Carrier='PR' Code='' />
			<NonStop From='SFO' To='MNL' Carrier='PR' Code='' />
			<NonStop From='SFO' To='MNL' Carrier='UA' Code='' />
			<NonStop From='SGN' To='MNL' Carrier='5J' Code='' />
			<NonStop From='SGN' To='MNL' Carrier='PR' Code='' />
			<NonStop From='SGN' To='MNL' Carrier='VJ' Code='' />
			<NonStop From='SGN' To='MNL' Carrier='VN' Code='' />
			<NonStop From='SGN' To='MNL' Carrier='VN' Code='C' />
			<NonStop From='SIN' To='MNL' Carrier='5J' Code='' />
			<NonStop From='SIN' To='MNL' Carrier='AC' Code='C' />
			<NonStop From='SIN' To='MNL' Carrier='LH' Code='C' />
			<NonStop From='SIN' To='MNL' Carrier='LX' Code='C' />
			<NonStop From='SIN' To='MNL' Carrier='NZ' Code='C' />
			<NonStop From='SIN' To='MNL' Carrier='PR' Code='' />
			<NonStop From='SIN' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='SIN' To='MNL' Carrier='SQ' Code='' />
			<NonStop From='SIN' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='SIN' To='MNL' Carrier='TR' Code='' />
			<NonStop From='SPN' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='SYD' To='MNL' Carrier='5J' Code='' />
			<NonStop From='SYD' To='MNL' Carrier='PR' Code='' />
			<NonStop From='SYD' To='MNL' Carrier='QF' Code='' />
			<NonStop From='SZX' To='MNL' Carrier='CA' Code='C' />
			<NonStop From='SZX' To='MNL' Carrier='ZH' Code='' />
			<NonStop From='TAC' To='MNL' Carrier='5J' Code='' />
			<NonStop From='TAC' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='TAC' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='TAC' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='TAC' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='TAC' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='TAG' To='MNL' Carrier='5J' Code='' />
			<NonStop From='TAG' To='MNL' Carrier='MH' Code='C' />
			<NonStop From='TAG' To='MNL' Carrier='NH' Code='C' />
			<NonStop From='TAG' To='MNL' Carrier='PR' Code='' />
			<NonStop From='TAG' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='TAG' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='TAG' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='TFU' To='MNL' Carrier='CA' Code='' />
			<NonStop From='TPE' To='MNL' Carrier='5J' Code='' />
			<NonStop From='TPE' To='MNL' Carrier='AF' Code='C' />
			<NonStop From='TPE' To='MNL' Carrier='BR' Code='' />
			<NonStop From='TPE' To='MNL' Carrier='CI' Code='' />
			<NonStop From='TPE' To='MNL' Carrier='CI' Code='C' />
			<NonStop From='TPE' To='MNL' Carrier='JX' Code='' />
			<NonStop From='TPE' To='MNL' Carrier='KL' Code='' />
			<NonStop From='TPE' To='MNL' Carrier='PR' Code='' />
			<NonStop From='TPE' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='TPE' To='MNL' Carrier='SK' Code='C' />
			<NonStop From='TPE' To='MNL' Carrier='Z2' Code='' />
			<NonStop From='TUG' To='MNL' Carrier='5J' Code='' />
			<NonStop From='TUG' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='USU' To='MNL' Carrier='DG' Code='' />
			<NonStop From='USU' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='VRC' To='MNL' Carrier='5J' Code='' />
			<NonStop From='WNP' To='MNL' Carrier='DG' Code='' />
			<NonStop From='XMN' To='MNL' Carrier='MF' Code='' />
			<NonStop From='XMN' To='MNL' Carrier='MF' Code='C' />
			<NonStop From='XMN' To='MNL' Carrier='PR' Code='' />
			<NonStop From='XMN' To='MNL' Carrier='PR' Code='C' />
			<NonStop From='YVR' To='MNL' Carrier='AC' Code='' />
			<NonStop From='YVR' To='MNL' Carrier='PR' Code='' />
			<NonStop From='YYZ' To='MNL' Carrier='PR' Code='' />
			<NonStop From='ZAM' To='MNL' Carrier='5J' Code='' />
			<NonStop From='ZAM' To='MNL' Carrier='PR' Code='W' />
			<NonStop From='ZAM' To='MNL' Carrier='SQ' Code='C' />
			<NonStop From='ZAM' To='MNL' Carrier='SV' Code='C' />
		</NonStops>
		<Directs>
			<Route From='ADD' To='MNL' Carrier='ET' Hops='2'>ADD-HKG-MNL</Route>
			<Route From='AMS' To='MNL' Carrier='AF' Hops='2'>AMS-TPE-MNL</Route>
			<Route From='AMS' To='MNL' Carrier='CI' Hops='2'>AMS-TPE-MNL</Route>
			<Route From='AMS' To='MNL' Carrier='KL' Hops='2'>AMS-TPE-MNL</Route>
			<Route From='AMS' To='MNL' Carrier='SK' Hops='2'>AMS-TPE-MNL</Route>
			<Route From='GUM' To='MNL' Carrier='UA' Hops='2'>GUM-ROR-MNL</Route>
			<Route From='MNL' To='ADD' Carrier='ET' Hops='2'>MNL-HKG-ADD</Route>
			<Route From='MNL' To='JED' Carrier='SV' Hops='2'>MNL-MED-JED</Route>
			<Route From='MNL' To='RUH' Carrier='SV' Hops='2'>MNL-MED-RUH</Route>
			<Route From='MNL' To='GUM' Carrier='UA' Hops='2'>MNL-ROR-GUM</Route>
			<Route From='MNL' To='AMS' Carrier='AF' Hops='2'>MNL-TPE-AMS</Route>
			<Route From='MNL' To='AMS' Carrier='CI' Hops='2'>MNL-TPE-AMS</Route>
			<Route From='MNL' To='AMS' Carrier='KL' Hops='2'>MNL-TPE-AMS</Route>
			<Route From='MNL' To='AMS' Carrier='SK' Hops='2'>MNL-TPE-AMS</Route>
			<Route From='RUH' To='MNL' Carrier='SV' Hops='2'>RUH-JED-MNL</Route>
		</Directs>
	</Routes>
</Airports>
